.container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
}

input{
  height: 40px;
  font-size: 24px;
  width: 120px;
}

button{
  color: #ffffff;
  border: none;
  outline: none;
  padding: 5px 14px;
  font-size: 24px;
  border-radius: 4px;
}

.btn-primary{
  background: #0050ef;
}

.btn-secondary{
  background: #647687;
}

.btn-success{
  background: #008a00;
}
